**KELOMPOK 10**

Anggota Kelompok:


* Nabiil Azzumar Labib		(1301194076)
* Fadlan Akmal Ramadhan 	(1301190351)
* Musthafa Zaki Bahar     (1301190335)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Membaca File mobil.xls 
df = pd.read_excel('https://github.com/mzakibhr/kNN-PAI-Tupro3/blob/main/mobil.xls?raw=true')
df.head(17)

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

In [ ]:
# Data Processing

# Mengganti nama kolom untuk mempermudah pembuatan program
data = df.rename({'Harga (Ratus Juta)': 'Harga'}, axis=1)

# Melakukan Drop Kolom "Nama Mobil"
data = data.drop('Nama Mobil', axis=1) 

# Normalisasi data "Harga"
for kolom in range(len(data)):
    data['Harga'][kolom] = (data['Harga'][kolom] - (data['Harga']).min()) / ((data['Harga']).max() - (data['Harga']).min())

# Definisi rumus metode perhitungan jarak
def jarak_euclidean(x, y): # Perhitungan Jarak Euclidean
    jarak = 0
    for i in range(len(y)):
        jarak += (x[i] - y[i])**2

    return jarak ** (1/2)

def jarak_manhattan(x, y): # Perhitungan Jarak Manhattan
    jarak = 0
    for i in range(len(x)):
        jarak += abs(x[i] - y[i])

    return jarak
 
def jarak_minkowski(x, y, p=2): # Perhitungan Jarak Minkowski
    jarak = 0
    for i in range(len(x)):
        jarak += abs(x[i] - y[i]) ** p

    return jarak ** (1/p)

def jarak_supremum(x, y): # Perhitungan Jarak Supremum
    jarak = []
    for i in range(len(x)):
        jarak.append(abs(x[i] - y[i]))

    return max(jarak)

# Klasifikasi K-Nearest Neighbour
def jarak(x, y, k):
    euclidean, manhattan, minkowski, supremum = [], [], [], []

    for i in range(len(x)):
        minkowski.append([jarak_minkowski(x.iloc[i].tolist(), y), df['Nama Mobil'][i]])
        manhattan.append([jarak_manhattan(x.iloc[i].tolist(), y), df['Nama Mobil'][i]])
        euclidean.append([jarak_euclidean(x.iloc[i].tolist(), y), df['Nama Mobil'][i]])
        supremum.append([jarak_supremum(x.iloc[i].tolist(), y), df['Nama Mobil'][i]])

    # Sort List
    euclidean = sorted(euclidean)[:k]
    manhattan = sorted(manhattan)[:k]
    minkowski = sorted(minkowski)[:k]
    supremum = sorted(supremum)[:k]

    return euclidean, manhattan, minkowski, supremum

def knn(x, y, k=3): # Inisiasi Variabel k = 3, Untuk Memilih 3 Mobil Terbaik
    euclidean, manhattan, minkowski, supremum = jarak(x, y, k)
    hasil = [['Euclidean', euclidean], ['Manhattan', manhattan], ['Minkowski', minkowski], ['Supremum', supremum]]

    return hasil

# Main Program
ukuran = int(input("Masukkan Ukuran     : "))
kenyamanan = int(input("Masukkan Kenyamanan : "))
irit = int(input("Masukkan Irit       : "))
kecepatan = float(input("Masukkan Kecepatan  : "))
harga = float(input("Harga               : "))

hasil = knn(data, [ukuran, kenyamanan, irit, kecepatan, harga])

for metode in hasil:
      print("\n====================================================")
      print(f'Metode: {metode[0]}')
      print("====================================================")
    
      mobil = []
      for i, solusi in enumerate(metode[1]):
          print(f'{i+1}. {solusi[1]}, solusi: {round(solusi[0], 2)}')
          mobil.append(solusi[1])

mobil = pd.DataFrame(mobil)
mobil.to_excel(f'rekomendasi.xls', index=False, header=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

Masukkan Ukuran     : 2
Masukkan Kenyamanan : 3
Masukkan Irit       : 4
Masukkan Kecepatan  : 5
Harga               : 2

====================================================
Metode: Euclidean
====================================================
1. Daihatsu Xenia, solusi: 5.03
2. Toyota Avanza, solusi: 5.31
3. Daihatsu Alya, solusi: 5.79

====================================================
Metode: Manhattan
====================================================
1. Daihatsu Xenia, solusi: 9.83
2. Karimun, solusi: 9.88
3. Daihatsu Alya, solusi: 9.89

====================================================
Metode: Minkowski
====================================================
1. Daihatsu Xenia, solusi: 5.03
2. Toyota Avanza, solusi: 5.31
3. Daihatsu Alya, solusi: 5.79

====================================================
Metode: Supremum
====================================================
1. Daihatsu Xenia, solusi: 4.0
2. Toyota Avanza, solusi: 4.0
3. Daihatsu Alya, solusi: 5.0